/* Bootstrap Variable Override ^4.5.3
--------------------------------------------- */
$font-family-futura-light: "futura-lt-w01-light", sans-serif !default;
$font-family-futura-book: "futura-lt-w01-book", sans-serif !default;

$font-family-sans-serif: $font-family-futura-light !default;
$font-family-monospace: "Cutive Mono", monospace !default;
