@font-face {
  font-family: "futura-lt-w01-book";
  src: url("./fonts/futura-lt-book.eot?#iefix") format("embedded-opentype"),
    url("./fonts/futura-lt-book.woff") format("woff"),
    url("./fonts/futura-lt-book.ttf") format("truetype"),
    url("./fonts/futura-lt-book.svg#futura-lt-book") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "futura-lt-w01-light";
  src: url("./fonts/futura-lt-w01-light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/futura-lt-w01-light.woff2") format("woff2"),
    url("./fonts/futura-lt-w01-light.woff") format("woff"),
    url("./fonts/futura-lt-w01-light.ttf") format("truetype"),
    url("./fonts/futura-lt-w01-light.svg#futura-lt-w01-light") format("svg");
  font-weight: 400;
  font-style: normal;
}
